@media screen and (max-width: 900px ){
    .container-s{
        grid-template-columns: repeat(2, auto);
      }  
}


@media screen and (max-width: 700px ){

body{
    overflow-x: hidden;
}

header{
    position: fixed;
    top: -10%;
    left: -10%;
    line-height: 3rem;
}

.menu-toggle{
    display: block;
}

nav{
    padding-top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    
}

nav ul{
    flex-direction: column;
}

nav ul li img{
 width: 30%;
}

.overlay.menu-open,
nav.menu-open{
  display: flex;
  transform: scale(1);
  opacity: 1;
}

.menu ul li{
    margin: -2px;
}

.container .footer-logo {
    grid-gap: .5rem;
}

.flex-control-nav li a{
	width: 9px;
	height: 9px;
	border-radius: 9px;
}

.flex-control-nav li a:hover{
	background: #fff;
}

.flex-control-nav li a.flex-active{
	background: #fff;	
}

.flex-direction-nav a:before {
    font-size: 20px;
    padding: 20px;
  }

  .container-s{
    grid-template-columns: repeat(1, auto);
  }  
}