@font-face {
    font-family: "utsukushi";
    src: url("../font/02UtsukushiMincho.ttf");
    font-weight: 400; /*R*/
  }
:root {
    --font-color: #394b56;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility-start */
.font-m{
    text-align: center;
}
/* utility-end */

body{
    font-family: "utsukushi";
    font-weight: 600;
    width: 100%;
    overflow-x: hidden;
}

.container{
    position: relative;
    width: 100%;

}

.container .top-img {
    position: relative;
    width: 100%;
}

.container .top-img img{
    position: relative;
    width: 100%;
}

.menu{
    position: absolute;
    width: 100%;
    left: 10%;
    bottom: 13%;
    z-index: 1;
}
.menu ul {
    list-style: none;
}

.menu ul li img{
    width: 13%;
}

.menu ul li img:hover {
    margin-left: 2px;
}

/* mid-start */
.mids{
    position: relative;
}

.mids .img1 img{
    position: relative;
    width: 100%;
}

.mids .btn-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 3%;
    z-index: 1;
}

.mids .btn-1 img{
    width: 30%;
}

.mids .btn-1 img:hover {
    width: 31%;
}

.mids .btn-2 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 42.5%;
    z-index: 1;
}

.mids .btn-2 img{
    width: 30%;
}

.mids .btn-2 img:hover {
    width: 31%;
}
#gyara{
    position: absolute;
    top: 61.5%;
}

.mids .btn-3 {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 6%;
    z-index: 1;
}

.mids .btn-3 img{
    width: 30%;
}

.mids .btn-3 img:hover {
    width: 31%;
}
/* mid-end */


/* mids4-start */
.mids .btn-4 {
    position: absolute;
    width: 100%;
    text-align: right;
    right: 13%;
    bottom: 3%;
    z-index: 1;
}

.mids .btn-4 img{
    width: 20%;
}

.mids .btn-4 img:hover {
    width: 21%;
}
/* mids4-end */

/* footer-start */
.container{
    position: relative;
    width: 100%;

}

.container .top-img {
    position: relative;
    width: 100%;
}

.container .top-img img{
    position: relative;
    width: 100%;
}

.fmenu{
    position: absolute;
    width: 100%;
    left: 30%;
    bottom: 34%;
    z-index: 1;
}
.fmenu ul {
    display: flex;
    list-style: none;
}

.fmenu ul li {
    width: 10.3%;
}

.fmenu ul li img{
    width: 40%;
}

.fmenu ul li:hover {
      padding: 3px;
}

.container .footer-logo {
    position: absolute;
    display: grid;
    grid-template-columns: 6rem 6rem;
    grid-gap: 1rem;
    justify-items: center;
    width: 100%;
    text-align: left;
    left: 3%;
    bottom: 19%;
    z-index: 1;
}

.lang {
    grid-column: 3/1;
}

.container .footer-logo img{
    width: 100%;
}

.container .footer-logo  img:hover {
    margin: 0 3px;
}
/* footer-end */