@media (max-width: 1480px){
    .container-text p{
        font-size: 1.1rem;
    }

    .container-m, 
    .container-m2{
        width: 100%;
        grid-template-columns: 430px 430px;
        padding:5rem 0;
    }

    .container-m img{
        width: 98%;
    }
    .container-m2 img{
        width: 98%;
    }

    .container-m3 img{
        width: 900px;
      }
      
        /* slide2-start */

  .main{
    width: 90%;
    height: 70vh;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: #fdfdfd;
  }

  .swiper {
    height: 70%;
  }

  .swiper-wrapper{
    align-items: center;
  }
  .swiper-slide{
    width: 70%;
    border-radius: 7px;
  }
  .swiper-slide img{
    width: 90%;
    border-radius: 7px;
  }
.swiper-pagination{
  bottom: 0;
}

  /* slide2-end */
}

@media (max-width: 1280px){
    .container-m, .container-m2 {
        grid-template-columns: 420px 420px;
        justify-content: center;
        text-align: center;
        grid-gap: 3rem;
        padding:5rem 0;
    }

    .container-m h2{
        font-size:larger;
    }
    .container-m h3 {
        font-size:medium;
    }
    
    .container-m p{
        font-size: small;
    }

    .container-m2 h2{
        font-size:larger;
    }
    .container-m2 h3 {
        font-size:medium;
    }
    
    .container-m2 p{
        font-size: small;
    }

    .container-m3 img{
        width: 700px;
      }
}